<div class="function-block-container">
    <FunctionBlockTitleComponent Name="@Node.Name"
                                 NameBackgroundColor="@Node.NameBackgroundColor"
                                 NameForeColor="@Node.NameForeColor" />

    <FunctionBlockRunModeComponent CycleFrequency="@Node.CycleFrequency"
                                   CycleOffset="@Node.CycleOffset"
                                   CyclePriority="@Node.CyclePriority"
                                   NodeId="@Node.ClusterNodeId"
                                   RunMode="@Node.RunMode" />

    <FunctionBlockImage ImageSource="@Node.ImageSrc"
                        ImageText="@Node.ImageText"
                        Visible="@IsImageVisible()" />

    @for (var i = 0; i < Node.Connectors.Count; i++)
    {
        var inputConnector = Node.Connectors[i][0];
        var outputConnector = Node.Connectors[i][1];

        <div class="connector-row @(i == 3 ? "divider" : "") @(i == Node.Connectors.Count - 1 ? "last-row" : "")">
            @if (inputConnector == null)
            {
                <div></div>
            }
            else
            {
                <FunctionBlockInputConnectorComponent NodeConnector="@inputConnector" />
            }

            @if (outputConnector == null)
            {
                <div></div>
            }
            else
            {
                <FunctionBlockOutputConnectorComponent NodeConnector="@outputConnector" />
            }
        </div>
    }

    <FunctionBlockSelection IsSelected="@Node.Selected" />
</div>
