@if (Port.Parent.Layer == RenderLayer.HTML)
{
    <div @ref="@_element"
         class="port @(Port.Alignment.ToString().ToLowerInvariant()) @(Port.Links.Count > 0 ? "has-links" : string.Empty) @(Class)"
         data-port-id="@(Port.Id)"
         @onmousedown="@OnMouseDown" @onmousedown:stopPropagation
         @onmouseup="@OnMouseUp" @onmouseup:stopPropagation
         @ontouchend="@OnTouchEnd" @ontouchend:preventDefault @ontouchend:stopPropagation
         @ontouchstart=@OnTouchStart @ontouchstart:stopPropagation>

        @ChildContent
    </div>
}
else
{
    <g @ref="@_element"
       class="port @(Port.Alignment.ToString().ToLowerInvariant()) @(Port.Links.Count > 0 ? "has-links" : string.Empty) @(Class)"
       data-port-id="@(Port.Id)"
       @onmousedown="@OnMouseDown" @onmousedown:stopPropagation
       @onmouseup="@OnMouseUp" @onmouseup:stopPropagation
       @ontouchend="@OnTouchEnd" @ontouchend:preventDefault @ontouchend:stopPropagation
       @ontouchstart=@OnTouchStart @ontouchstart:stopPropagation>

        @ChildContent
    </g>
}
